@using Helperland.Models
@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="card card-create-account">
        <section class="line-star">
            <h5 class="main-heading contact-heading"> Create an account</h5>
            <div class="row row2 justify-content-center contact-line m-1">
                <div class="line"></div>
                <img class="px-0" id="separator" src="../images/separator.png" alt="">
                <div class="line"></div>
            </div>
        </section>
        <section id="get-in-touch-form" class="get-in-touch-form">
            <div class="text-center"> 
                <span class="text-danger"> <b>@ViewBag.Message</b> </span>
            </div>
            <form class="row g-3 mt-3 " style="  margin:auto;" method="post" asp-controller="Home" asp-action="CREATE_ACCOUNT">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputfirstname" asp-for="FirstName" placeholder="First Name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputlastname" asp-for="LastName" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" id="inputemail" asp-for="Email" placeholder="E-mail Address">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="tel" class="form-control" id="inputnumber" asp-for="Mobile" placeholder="Phone number">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="inputpassword" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="inputconfirm-password" asp-for="ConfirmPassword"
                           placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="hidden"  asp-for="UserTypeId" class="form-control" id="#" value="1">
                </div>
                <div class="form-check ml-1">
                    
                   <label class="form-check-label-create-account" for="myCheck1">
                      <input class="form-check-input" type="checkbox" id="myCheck1" name="remember" required>
                      Yes, I would like to subscribe to the Helperland
                      GmbH newsletter with vouchers, trends, promotions and individualized offers. I can
                      unsubscribe from the newsletter at any time
                      in the newsletter and in my customer account.
                   </label>
                </div>
                <div class="form-check ml-1">
                   
                   <label class="form-check-label-create-account" for="myCheck2">
                      <input class="form-check-input" type="checkbox" id="myCheck2" name="remember" required>
                      I agree to the  <a href="#" style="color: #2f8799;"> terms</a> and conditions of Helperland GmbH.
                   </label>
                </div>
                <div class="form-check ml-1">
                   
                   <label class="form-check-label-create-account" for="myCheck3">
                      <input class="form-check-input" type="checkbox" id="myCheck3" name="remember" required>
                      I have read the <a href="#" style="color: #2f8799;"> Privacy Policy</a>
                   </label>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn submit-button">Register</button>
                </div>
                <br><br>
                <p class="logim-para">
                    Already registered?
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="login-para-links" data-bs-toggle="modal" data-bs-target="#myModal"><b> Login Now</b></a>
                </p>
            </form>
        </section>
     </div>
</div>